services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: backend-todoApp
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    depends_on:
      - db
  drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    container_name: drizzle-studio
    ports:
      - "4983:4983"
    environment:
      PORT: 4983
    volumes: 
      - drizzle_data:/app
    depends_on:
      - db
      
    
    
  db:
    image: postgres:13
    container_name: postgresTodoApp
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
  drizzle_data:
